h1{
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    color:khaki;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    text-align: center horizontal;
}
body{font-family:helvetica;}
h2{
    font-size:32px;
    font-weight:bold;
    color:white;
    font-family:Helvetica;
}
#frames{
    background-color:lightcoral;
}
#brushes{
    background-color:mediumspringgreen;
}
#paint{
    background-color:skyblue;
}
.prices{
    font-weight:bold;
    color:blue;
    font-family:Helvetica;
}